@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a, .white {
  color: #fff;
  text-decoration: none;
}